# Task 2: Data Preprocessing for Machine Learning – AI Bootcamp

Download Titanic Dataset here: https://web.stanford.edu/class/archive/cs/cs109/cs109.1166/stuff/titanic.csv

#### About this file

The sinking of the Titanic is one of the most infamous shipwrecks in history.

On April 15, 1912, during her maiden voyage, the widely considered “unsinkable” RMS Titanic sank after colliding with an iceberg. Unfortunately, there weren’t enough lifeboats for everyone on board, resulting in the death of 1502 out of 2224 passengers and crew.

While there was some element of luck involved in surviving, it seems some groups of people were more likely to survive than others.

In this challenge, we ask you to build a predictive model that answers the question: “what sorts of people were more likely to survive?” using passenger data (ie name, age, gender, socio-economic class, etc).

## Section 1: Data Loading & Exploration

### **Task 1**: Load and Inspect a Dataset

*Instruction*: Load the `titanic.csv` dataset and display the first 5 rows. Show basic info and describe statistics of the dataset.

In [ ]:
import pandas as pd

df = pd.read_csv('titanic.csv')
print(df.head())
print(df.info())
print(df.describe())

   Survived  Pclass                                               Name  \
0         0       3                             Mr. Owen Harris Braund
1         1       1  Mrs. John Bradley (Florence Briggs Thayer) Cum...
2         1       3                              Miss. Laina Heikkinen
3         1       1        Mrs. Jacques Heath (Lily May Peel) Futrelle
4         0       3                            Mr. William Henry Allen

      Sex   Age  Siblings/Spouses Aboard  Parents/Children Aboard     Fare
0    male  22.0                        1                        0   7.2500
1  female  38.0                        1                        0  71.2833
2  female  26.0                        0                        0   7.9250
3  female  35.0                        1                        0  53.1000
4    male  35.0                        0                        0   8.0500
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 887 entries, 0 to 886
Data columns (total 8 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Survived                 887 non-null    int64
 1   Pclass                   887 non-null    int64
 2   Name                     887 non-null    object
 3   Sex                      887 non-null    object
 4   Age                      887 non-null    float64
 5   Siblings/Spouses Aboard  887 non-null    int64
 6   Parents/Children Aboard  887 non-null    int64
 7   Fare                     887 non-null    float64
dtypes: float64(2), int64(4), object(2)
memory usage: 55.6+ KB
None
         Survived      Pclass         Age  Siblings/Spouses Aboard  \
count  887.000000  887.000000  887.000000               887.000000
mean     0.385569    2.305524   29.471443                 0.525366
std      0.487004    0.836662   14.121908                 1.104669
min      0.000000    1.000000    0.420000                 0.000000
25%      0.000000    2.000000   20.250000                 0.000000
50%      0.000000    3.000000   28.000000                 0.000000
75%      1.000000    3.000000   38.000000                 1.000000
max      1.000000    3.000000   80.000000                 8.000000

       Parents/Children Aboard       Fare
count               887.000000  887.00000
mean                  0.383315   32.30542
std                   0.807466   49.78204
min                   0.000000    0.00000
25%                   0.000000    7.92500
50%                   0.000000   14.45420
75%                   0.000000   31.13750
max                   6.000000  512.32920

## Section 2: Handling Missing Values

### **Task 2**: Identify and Handle Missing Data

*Instruction*:



*   Display the number of missing values per column.
*   Fill missing `Age` values with the median.
*   Drop the second row in the dataset.

In [ ]:
import pandas as pd


data = {
    'Name': ['Alice', 'Bob', 'Charlie'],
    'Age': [25, None, 30],
    'Score': [85, 90, None]
}


df = pd.DataFrame(data)


print("Missing values per column:\n", df.isnull().sum())


median_age = df['Age'].median()
df['Age'].fillna(median_age, inplace=True)


df.drop(index=1, inplace=True)


print("\nFinal DataFrame:\n", df)

Missing values per column:
 Name     0
Age      1
Score    1
dtype: int64

Final DataFrame:
       Name   Age  Score
0    Alice  25.0   85.0
2  Charlie  30.0    NaN

<ipython-input-4-82fb47d4d5ea>:18: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Age'].fillna(median_age, inplace=True)

## Section 3: Encoding Categorical Features

### **Task 3**: Convert Categorical to Numeric

*Instruction*: Convert `Sex` and `Pclass` columns to numeric using:


*   Label Encoding for `Sex`
*   One-Hot Encoding for `Pclass`

In [ ]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder


data = {
    'Name': ['Alice', 'Bob', 'Charlie'],
    'Sex': ['female', 'male', 'male'],
    'Pclass': [1, 3, 2]
}


df = pd.DataFrame(data)


le = LabelEncoder()
df['Sex'] = le.fit_transform(df['Sex'])


df = pd.get_dummies(df, columns=['Pclass'], prefix='Pclass')


print(df)

      Name  Sex  Pclass_1  Pclass_2  Pclass_3
0    Alice    0      True     False     False
1      Bob    1     False     False      True
2  Charlie    1     False      True     False

## Section 4: Feature Scaling

### **Task 4**: Scale Numerical Features

*Instruction*: Use StandardScaler to scale the Age and Fare columns.*italicized text*

In [ ]:
import pandas as pd
from sklearn.preprocessing import StandardScaler


data = {
    'Name': ['Alice', 'Bob', 'Charlie'],
    'Age': [22, 38, 26],
    'Fare': [7.25, 71.83, 8.05]
}

df = pd.DataFrame(data)

scaler = StandardScaler()

df[['Age', 'Fare']] = scaler.fit_transform(df[['Age', 'Fare']])

print(df)

      Name       Age      Fare
0    Alice -0.980581 -0.720286
1      Bob  1.372813  1.414131
2  Charlie -0.392232 -0.693845

## Section 5: Feature Engineering

### **Task 5**: Build Preprocessing Pipeline

*Instruction*: Using `ColumnTransformer` and `Pipeline` from `sklearn`, build a pipeline that:



*   Imputes missing values
*   Scales numeric data
*   Encodes categorical data

In [ ]:
import pandas as pd
from sklearn.pipeline import Pipeline
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import StandardScaler, OneHotEncoder
from sklearn.impute import SimpleImputer


data = {
    'Age': [25, None, 30],
    'Fare': [72.5, 10.5, None],
    'Sex': ['male', 'female', 'female'],
    'Pclass': [1, 3, 2]
}

df = pd.DataFrame(data)

numeric_features = ['Age', 'Fare']
categorical_features = ['Sex', 'Pclass']


numeric_pipeline = Pipeline(steps=[
    ('imputer', SimpleImputer(strategy='median')),
    ('scaler', StandardScaler())
])

categorical_pipeline = Pipeline(steps=[
    ('imputer', SimpleImputer(strategy='most_frequent')),
    ('encoder', OneHotEncoder(handle_unknown='ignore'))
])


preprocessor = ColumnTransformer(transformers=[
    ('num', numeric_pipeline, numeric_features),
    ('cat', categorical_pipeline, categorical_features)
])


processed_data = preprocessor.fit_transform(df)


column_names = (
    numeric_features +
    list(preprocessor.named_transformers_['cat']['encoder'].get_feature_names_out(categorical_features))
)

processed_df = pd.DataFrame(processed_data, columns=column_names)

print(processed_df)

        Age      Fare  Sex_female  Sex_male  Pclass_1  Pclass_2  Pclass_3
0 -1.224745  1.224745         0.0       1.0       1.0       0.0       0.0
1  0.000000 -1.224745         1.0       0.0       0.0       0.0       1.0
2  1.224745  0.000000         1.0       0.0       0.0       1.0       0.0

## Section 6: Feature Engineering

### **Task 6**: Create a New Feature

*Instruction*: Create a new feature `FamilySize` = `Siblings/Spouses Aboard` + `Parents/Children Aboard` + 1.

In [ ]:
import pandas as pd
from sklearn.compose import ColumnTransformer
from sklearn.pipeline import Pipeline
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import OneHotEncoder, StandardScaler
from sklearn.base import BaseEstimator, TransformerMixin

data = {
    'SibSp': [1, 0, 2],
    'Parch': [0, 2, 1],
    'Age': [22, None, 30],
    'Fare': [7.25, 71.83, 8.05],
    'Sex': ['male', 'female', 'female'],
    'Pclass': [3, 1, 2]
}
df = pd.DataFrame(data)


class FamilySizeAdder(BaseEstimator, TransformerMixin):
    def fit(self, X, y=None):
        return self

    def transform(self, X):
        X = X.copy()
        X['FamilySize'] = X['SibSp'] + X['Parch'] + 1
        return X


numeric_features = ['Age', 'Fare', 'FamilySize']
categorical_features = ['Sex', 'Pclass']


numeric_pipeline = Pipeline([
    ('imputer', SimpleImputer(strategy='median')),
    ('scaler', StandardScaler())
])

categorical_pipeline = Pipeline([
    ('imputer', SimpleImputer(strategy='most_frequent')),
    ('encoder', OneHotEncoder(handle_unknown='ignore'))
])


preprocessor = ColumnTransformer([
    ('num', numeric_pipeline, numeric_features),
    ('cat', categorical_pipeline, categorical_features)
])


full_pipeline = Pipeline([
    ('family_size_adder', FamilySizeAdder()),
    ('preprocessing', preprocessor)
])


processed_data = full_pipeline.fit_transform(df)


encoded_cat = full_pipeline.named_steps['preprocessing'].named_transformers_['cat']['encoder'] \
    .get_feature_names_out(categorical_features)

feature_names = numeric_features + list(encoded_cat)


processed_df = pd.DataFrame(processed_data, columns=feature_names)
print(processed_df)

        Age      Fare  FamilySize  Sex_female  Sex_male  Pclass_1  Pclass_2  \
0 -1.224745 -0.720286   -1.224745         0.0       1.0       0.0       0.0
1  0.000000  1.414131    0.000000         1.0       0.0       1.0       0.0
2  1.224745 -0.693845    1.224745         1.0       0.0       0.0       1.0

   Pclass_3
0       1.0
1       0.0
2       0.0